.footer {
    font-family: 'Roboto', serif;
    font-weight: 400;
    color: #FFFFFF99;
    width: min(100%, 1440px);
    min-height: 370px;
    background: linear-gradient(90deg, #343333 38.05%, #484848 69.22%, #282828 98.98%);
    padding: 5em 0 0 0;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-container > div {
    flex: 1 1 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-container h1 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 19px;
    letter-spacing: 3px;
    color: #E0A449;
}

.footer-container p:not(.copyright){
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;

}

.footer-container a {
    color: inherit;
    text-decoration: none;
    margin-bottom: 5px;
    transition: color 0.3s;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0;

}

.social-logos > a {
    display: inline-block;
    width: 29px;
    height: 29px;
    text-indent: -9990px;
    overflow: hidden;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-logos > a:hover {
    transform: scale(1.1);
}
.twitter-logo {
    background-image: url("../assets/images/social_logos/twitter_logo.png");
}

.instagram-logo {
    background-image: url("../assets/images/social_logos/instagram_logo.png");
}

.github-logo {
    background-image: url("../assets/images/social_logos/git_logo.png");
}

.facebook-logo {
    background-image: url("../assets/images/social_logos/facebook_logo.png");
}

a:hover {
    color: #f0a500;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

.copyright {
    max-width: 1200px;
    margin: 0 auto;
}