.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}

#modal-image {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 8px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #ccc;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0.7);
    text-indent: -999px;
    overflow: hidden;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 57px;
    height: 57px;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.arrow:hover {
    transform: scale(1) translateY(-50%);
}

.left-arrow {
    left: 20px;
    background-image: url("../assets/images/buttons/larr.png");

}

.right-arrow {
    right: 20px;
    background-image: url("../assets/images/buttons/rarr.png");
}

.blur {
    filter: blur(5px);
    pointer-events: none;
}