.search-section {
    padding: 50px 20px;
    background-color: #FFF;
}

.search-section h2 {
    font-family: 'Roboto', serif;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    font-size: clamp(24px, 5vw, 64px);
    max-width: 684px;
    width: 100%;
}

.search-section h2 .yellow-text {
    color: #F17900;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(100%, 762px);
    height: 64px;
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
    background-color: #3939390D;
    box-shadow: 0 2px 5px #00000019;
}

.search-form > label {
    display: flex;
    flex: 1;
}
.search-input {
    flex: 1;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
}

.search-input::placeholder {
    color: #999;
}

.search-button {
    text-indent: -999px;
    overflow: hidden;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0 10px 0 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-image: url("../assets/images/buttons/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.search-button:hover {
    transform: scale(1.1);
}